html {
    font-size: 14px;
}
body {
    margin:0;
    padding:0;
    max-width:100vw; /* ?????? */
    min-height:100vh;
    display: grid;
    grid-template-rows: 10vh 90vh 20vh;
    font-family: 'Montserrat', sans-serif;
}
body#homepage {
    background: linear-gradient(
            to right,
            #2E6F95,
            #455E89,
            #5C4D7D,
            #723C70,
            #892B64
    );
}
#homepage > header {
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom:1px solid white;
    height : 10vh;
}
#homepage > main {
    height : 90vh;
    width:100%;
}
#homepage > footer {
    background-color:white;
}
header > figure {
    background-color:green;
    text-align:center;
}
img {
    height : 10vh;
}
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height : 10vh;
    list-style: none;
}
li {
    display: grid;
    grid-column: 1fr;
    height : auto;
    color:white;
    padding-top:4vh;
    /*vertical-align:center;*/
}
#homepage > main > section:first-child {
    background-color:red;
    margin-right:10%;
    margin-left:10%;
    color:white;
    height:60vh;
}
#homepage > main > section:first-child h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 6rem, graisse 700;
}
#homepage > main > section:first-child p {
    font-family: 'Cabin', sans-serif;
    font-size: 3.5rem, graisse 700;
}
/* Deuxième partie main */
#homepage > main > section:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color:green;
    margin-right:10%;
    margin-left:10%;
    color:white;
    height:60vh;
}
/* Titre deuxième partie main */
#homepage > main > section:nth-child(2) h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 2.5rem, graisse 700;
    background-color:blue;
    display: grid;
    grid-columns: 3fr;
    grid-row: 1fr;
}
/* Différent projet */
#homepage > main > section:nth-child(2) > section {
    display: grid;
    grid-column: 1fr;
    grid-row: 2fr;
    /*background-color:yellow;*/
}
/* Titre projet */
#homepage > main > section:nth-child(2) > section > h3 {
    font-family: 'Cabin', sans-serif;
    font-size: 1.7rem, graisse 700;
}
/* Type projet */
#homepage > main > section:nth-child(2) > section > p:first-child {
    font-family: 'Cabin', sans-serif;
    font-size: 1.3rem, graisse 700;
    background-color:pink;
}
/* description projet */
#homepage > main > section:nth-child(2) > section > p:nth-child(2) {
    font-family: 'Cabin', sans-serif;
    font-size: 1.3rem, graisse 700;
    background-color:red;
}
/* Lien projet */
#homepage > main > section:nth-child(2) > section > a {
    text-underline-offset:0.25rem;
    color:white;
}